*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Security files
google-services.json
*.jks
*.keystore
key.properties
*.p12
*.pem

# Logs
*.log
/check_app.ps1
/todo
